<div class="attack-fields">
    <div class="form-group">
      <label>AC</label>
      <input type="number" name="interactions.{{@../index}}.ac" value="{{ac}}" />
    </div>
  
    <div class="form-group">
      <label>HP</label>
      <input type="number" name="interactions.{{@../index}}.hp" value="{{hp}}" />
    </div>
  
    <div class="form-group">
      <label>Damage Expression</label>
      <input type="text" name="interactions.{{@../index}}.damage" value="{{damage}}" placeholder="e.g. 2d6 + 3" />
    </div>
  
    <div class="form-group">
      <label>Vulnerabilities</label>
      <input type="text" name="interactions.{{@../index}}.vulnerabilities" value="{{vulnerabilities}}" />
    </div>
  
    <div class="form-group">
      <label>Resistances</label>
      <input type="text" name="interactions.{{@../index}}.resistances" value="{{resistances}}" />
    </div>
  
    <div class="form-group">
      <label>Immunities</label>
      <input type="text" name="interactions.{{@../index}}.immunities" value="{{immunities}}" />
    </div>

    <hr>
  
    <div class="form-group">
      <label>Success Text</label>
      <input type="text" name="interactions.{{@../index}}.success" value="{{success}}" />
    </div>
  
    <div class="form-group">
      <label>Failure Text</label>
      <input type="text" name="interactions.{{@../index}}.failure" value="{{failure}}" />
    </div>
  </div>
  