<div class="trap-fields">
    <div class="form-group">
      <label>Trap Description</label>
      <input type="text" name="interactions.{{@../index}}.description" value="{{description}}" />
    </div>
  
    <div class="form-group">
      <label>Save DC</label>
      <input type="number" name="interactions.{{@../index}}.dc" value="{{dc}}" />
    </div>
  
    <div class="form-group">
      <label>Damage Expression</label>
      <input type="text" name="interactions.{{@../index}}.damage" value="{{damage}}" placeholder="e.g. 5d10" />
    </div>
  
    <div class="form-group">
      <label>Damage Type</label>
      <input type="text" name="interactions.{{@../index}}.damageType" value="{{damageType}}" placeholder="e.g. fire, piercing" />
    </div>
  
    <hr>
  
    <div class="form-group">
      <label>Success Text</label>
      <input type="text" name="interactions.{{@../index}}.success" value="{{success}}" />
    </div>
  
    <div class="form-group">
      <label>Failure Text</label>
      <input type="text" name="interactions.{{@../index}}.failure" value="{{failure}}" />
    </div>
  </div>
  