<div class="interaction-card" data-index="{{@index}}">
  <div class="flexrow">
    <select name="interactions.{{@index}}.type" class="interaction-type">
      <option value="" {{#if (eq type "")}}selected{{/if}}>-- Select Interaction Type --</option>
      <option value="attack" {{#if (eq type "attack")}}selected{{/if}}>Attack</option>
      <option value="saving-throw" {{#if (eq type "saving-throw")}}selected{{/if}}>Saving Throw</option>
      <option value="skill-check" {{#if (eq type "skill-check")}}selected{{/if}}>Skill Check</option>
      <option value="unlock" {{#if (eq type "unlock")}}selected{{/if}}>Lock/Unlock</option>
      <option value="trap" {{#if (eq type "trap")}}selected{{/if}}>Trap</option>
      <option value="spell-target" {{#if (eq type "spell-target")}}selected{{/if}}>Spell Target</option>
    </select>

    <button type="button" class="delete-interaction">
      <i class="fas fa-trash"></i>
    </button>
  </div>

  <div class="interaction-details">
    {{#if (eq type "attack")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/attack.html" this}}
    {{/if}}
    {{#if (eq type "saving-throw")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/saving-throw.html" this}}
    {{/if}}
    {{#if (eq type "skill-check")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/skill-check.html" this}}
    {{/if}}
    {{#if (eq type "unlock")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/unlock.html" this}}
    {{/if}}
    {{#if (eq type "trap")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/trap.html" this}}
    {{/if}}
    {{#if (eq type "success")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/success.html" this}}
    {{/if}}
    {{#if (eq type "failure")}}
      {{> "modules/ve-tiles-interactive-submenu/templates/fields/failure.html" this}}
    {{/if}}
  </div>
</div>
